/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body h1 h2 h3 p */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}
p {
    margin: 0;
    padding: 1em 0;
    padding-top: 0px;
}

/* header */
header {
    min-height: 450px;
}
#imgback {
    background-image: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 450px;
    width: 100%;
    filter: brightness(40%);
    position: absolute;
    z-index: -1;
}
#headertext {
    color: white;
    text-align: center;
}
#headertext>h1 {
    padding-top: 100px;
    padding-bottom: 17px;
}
#headertext>p {
    padding-bottom: 50px;
    max-width: 850px;
    margin: auto;
}
#headertext>a {
    padding: 20px 35px;
    border: 0.5px solid rgba(255, 255, 255, 0.301);
    color: white;
    text-decoration: none;
    background: #333;
}
#headertext>a:hover {
    background-color: #fff;
    color: black;
}

/* primeira seção */
#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}
.content-text > p{
    column-count: 2;
    column-gap: 1em;
}
.content-wrap{
    grid-area: a;
    padding: 0px 350px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr minmax(600px, auto) 1fr;
    grid-template-areas: ". a .";
}

/* segunda seção */
.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1.2em;
}
#section-b{
    padding: 2em;
}
img {
    height: auto;
    width: 100%;
    display: block;
}
.card {
    width: 18.2%;
    background-color: #fff;
    color: #333;
}
.card > div {
    padding: 0em 1.5em 1.5em 1.5em;
}

/* terceira seção */
.section-c {
    background-color: #fff;
    color: #333;
    padding: 2em;
}
.section-c > p {
    padding: 0em 250px 2em 250px;
}

/* quarta seção */
#section-d {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cima baixo";
}
.cima {
    background-color: #2690d4;
    grid-area: cima;
    padding: 2em;
}
.baixo {
    grid-area: baixo;
    padding: 2em;
}

/* footer */
footer {
    background-color: black;
    padding: 2em;   
}
footer > p {
    padding: 0;
}
footer > p > a{
    text-decoration: none;
    color: #2690d4;
}

/* quebra 1 */
@media (max-width: 1220px) {

    /* primeira seção */
    .content-wrap{
        padding: 0px 1.7em;
   }

    /* segunda seção */
    .card {
        width: 31%;
   }

    /* terceira seção */
    .section-c > p {
        padding: 0em 2em 2em 2em;
   }
}

/* quebra 2 */
@media (max-width: 700px) {
    
    /* primeira seção */
    .grid {
        display: block;
   }
    .content-text > p{
        column-count: 1;
   }
    .content-wrap{
        padding: 0px 1.5em;
   }

    /* segunda seção */
    .flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        row-gap: 25px;
   }
    .card {
        width: 100%;
   }

    /* quarta seção */
    #section-d {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "cima"
    "baixo";
   }
}
