
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid red;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    color: white;

}

#items-wrapper {
    width: 50vw;
    position: absolute;
    
    
    
}

#items {
    display: flex;
    gap: 10px;
    
    width: 500%;
    height: 100%;
    

    /* barra de rolagem */
    
    scroll-behavior: smooth;

    /* carousel */
    /* scroll-snap-type: x mandatory; */

    /* touch para alguns dispositivos moveis  */
    /* -webkit-overflow-scrolling: touch; */
    
    place-content: start;
    
    
}

.item {
    

    width: 200%;
    height: 400px;

    /* carousel */
    /* scroll-snap-align: end; */

    /* desativando os eventos do wheel para funcionar no #items */
    pointer-events: none;

    transition:  .6s;
    
}

img {
    
    width: 100%;
    height: 100%;
    border-radius: 10px;

    /* ajuste da img */
    object-fit: cover;
 
}

.navigation {
    display: flex;
    
    gap: 10px;
    position: relative;
    bottom: -160px;
    left: 50%;
    transform: translate(-16%);
    width: 100%;
}

.bar {
    height: 30px;
    width: 50px;
    border: 2px solid white;
    border-radius: 10px;

    /* glass */
    background: rgba(255, 255, 255, 0.044);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    
    cursor: pointer;
    
}

.bar:hover {
    background-color: white;
}

input {
    display: auto;
}


#slide1:checked ~ #flex01 {
    order: 1;
}

#slide2:checked ~ #flex02 {
    order: 3;
}

#slide3:checked ~ #flex03 {
    margin-left: 20%;
}

#slide4:checked ~ .s1 {
    margin-left: 30%;
}

#slide5:checked ~ .s1 {
    margin-left: 400%;
}

#slide6:checked ~ .s1 {
    margin-left: 0%;
}

#slide7:checked ~ .s1 {
    margin-left: 0%;
}

#slide8:checked ~ .s1 {
    margin-left: 0%;
}